fastapi>=0.95.0,<0.96.0
uvicorn>=0.21.1,<0.22.0
python-multipart==0.0.6
pillow>=9.3.0,<10.0.0
torch==2.1.0
diffusers==0.23.1
transformers==4.35.2
accelerate==0.24.1
baseten==0.7.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
truss>=0.5.1,<0.6.0
httpx>=0.24.1,<0.25.0
httpcore>=0.15.0,<0.18.0
python-dotenv==1.0.0
pydantic>=2.6.1